{% extends "base.html" %}

{% set title = "Welcome APP" %}

{% block content %}
{% if not user_data %}
    <p><a href="/sign_in/">Please login to APP.</a></p>
    <p><a href="/sign_up/">Or sign up now!</a></p>
{% else %}
    <p><a href="/test/">Show tests list.</a></p>
    {% if user_data.admin %}
        <p><a href="/add_test/">Add test to APP.</a></p>
        <p><a href="/add_question/">Add question to APP.</a></p>
        <p><a href="/add_answer/">Add answer to APP.</a></p>
    {% endif %}
{% endif %}
{% endblock %}